{% extends 'global/base.html' %}

{% block title %}Home - Raízes do Nordeste{% endblock %}

{% block main-content %}
<div class="p-5 mb-4 bg-white rounded-3 shadow-sm border">
    <div class="container-fluid py-5 text-center">
        <h1 class="display-5 fw-bold text-dark">Painel de Soluções Multicanal</h1>
        <p class="col-md-8 fs-4 mx-auto text-muted">Selecione o ambiente que deseja simular e testar para a homologação dos requisitos funcionais do projeto.</p>
        <hr class="my-4">
        <div class="d-flex justify-content-center gap-3">
            <a href="{% url "totem" %}" class="btn btn-danger btn-lg px-4 shadow-sm">🛒 Simulador do Totem (Cliente)</a>
            <a href="#" class="btn btn-dark btn-lg px-4 shadow-sm">📊 Dashboard da Matriz (Gerencial)</a>
        </div>
    </div>
</div>
{% endblock main-content %}