{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock title %} | Raízes do Nordeste</title>

<link rel="stylesheet" href="{% static 'app_raizesnordeste_ru4674539/css/bootstrap.min.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="icon" href="https://fav.farm/📊" />

<link rel="stylesheet" href="{% static 'app_raizesnordeste_ru4674539/css/style.css' %}">

{% block scripts %}{% endblock scripts %}